%h2
  Create <%= model_name %>
= semantic_form_for(@<%= klass.table_name.singularize%>, :html => { :method => :post }) do |f|
  = f.semantic_errors
  = render 'form', :f => f
  = f.buttons do
    = f.commit_button :submit, "Create"
= link_to "Back", :back
