%h2
  Edit Post
= semantic_form_for(@post, :html => { :method => :put }) do |f|
  = f.semantic_errors
  = render 'form', :f => f
  = f.buttons do
    = f.commit_button :submit, "Update"
= link_to "Back", :back
